@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --color-red-50: 0 100% 97.1%;
    --color-red-100: 0 85.7% 93.6%;
    --color-red-200: 0 72.7% 88.5%;
    --color-red-300: 0 68.8% 80.8%;
    --color-red-400: 0 70.6% 70.4%;
    --color-red-500: 0 74.3% 63.7%;
    --color-red-600: 0 84.2% 57.7%;
    --color-red-700: 0 70% 50.5%;
    --color-red-800: 0 65.2% 44.4%;
    --color-red-900: 0 60.3% 39.6%;
    --color-red-950: 0 64.7% 25.8%;
    --color-orange-50: 33.3 100% 98%;
    --color-orange-100: 34.3 100% 95.4%;
    --color-orange-200: 32.1 97.7% 90.1%;
    --color-orange-300: 30.7 97.2% 83.7%;
    --color-orange-400: 27.2 96% 75%;
    --color-orange-500: 24.6 95% 70.5%;
    --color-orange-600: 20.5 90.2% 64.6%;
    --color-orange-700: 17.5 88.3% 55.3%;
    --color-orange-800: 15.1 79.1% 47%;
    --color-orange-900: 15.3 74.6% 40.8%;
    --color-orange-950: 15.2 74.5% 26.6%;
    --color-amber-50: 48 100% 98.7%;
    --color-amber-100: 48 96.5% 96.2%;
    --color-amber-200: 48 96.6% 92.4%;
    --color-amber-300: 45.9 96.7% 87.9%;
    --color-amber-400: 43.3 96.4% 82.8%;
    --color-amber-500: 37.7 92.1% 76.9%;
    --color-amber-600: 32.1 94.6% 66.6%;
    --color-amber-700: 26 90.5% 55.5%;
    --color-amber-800: 22.7 82.5% 47.3%;
    --color-amber-900: 21.7 77.8% 41.4%;
    --color-amber-950: 21.5 83.2% 27.9%;
    --color-yellow-50: 54.5 91.7% 98.7%;
    --color-yellow-100: 54.9 96.7% 97.3%;
    --color-yellow-200: 52.8 98.3% 94.5%;
    --color-yellow-300: 50.4 97.8% 90.5%;
    --color-yellow-400: 47.9 95.8% 85.2%;
    --color-yellow-500: 45.4 93.4% 79.5%;
    --color-yellow-600: 40.6 96.1% 68.1%;
    --color-yellow-700: 35.5 91.7% 55.4%;
    --color-yellow-800: 31.8 81% 47.6%;
    --color-yellow-900: 28.4 72.5% 42.1%;
    --color-yellow-950: 26 82.9% 28.6%;
    --color-lime-50: 78.3 92% 98.6%;
    --color-lime-100: 79.6 89.1% 96.7%;
    --color-lime-200: 81.1 88.5% 93.8%;
    --color-lime-300: 82.3 84.9% 89.7%;
    --color-lime-400: 83.3 78.1% 84.1%;
    --color-lime-500: 84.3 81.9% 76.8%;
    --color-lime-600: 85.3 85.7% 64.8%;
    --color-lime-700: 86.3 78.2% 53.2%;
    --color-lime-800: 86.5 69% 45.3%;
    --color-lime-900: 87.6 61.2% 40.5%;
    --color-lime-950: 89.3 80.4% 27.4%;
    --color-green-50: 138.5 76.5% 98.2%;
    --color-green-100: 140.6 84.7% 96.2%;
    --color-green-200: 141 76.6% 92.5%;
    --color-green-300: 141.7 76.6% 87.1%;
    --color-green-400: 142.1 71.8% 79.2%;
    --color-green-500: 142.1 70.6% 72.3%;
    --color-green-600: 142.1 76.2% 62.7%;
    --color-green-700: 142.4 71.8% 52.7%;
    --color-green-800: 142.8 64.2% 44.8%;
    --color-green-900: 143.8 61.2% 39.3%;
    --color-green-950: 144.9 80.4% 26.6%;
    --color-emerald-50: 151.8 81% 97.9%;
    --color-emerald-100: 149.3 80.4% 95%;
    --color-emerald-200: 152.4 76% 90.5%;
    --color-emerald-300: 156.2 71.6% 84.5%;
    --color-emerald-400: 158.1 64.4% 76.5%;
    --color-emerald-500: 160.1 84.1% 69.6%;
    --color-emerald-600: 161.4 93.5% 59.6%;
    --color-emerald-700: 163.1 93.5% 50.8%;
    --color-emerald-800: 163.1 88.1% 43.2%;
    --color-emerald-900: 164.2 85.7% 37.8%;
    --color-emerald-950: 165.7 91.3% 26.2%;
    --color-teal-50: 166.2 76.5% 98.4%;
    --color-teal-100: 167.2 85.5% 95.3%;
    --color-teal-200: 168.4 83.8% 91%;
    --color-teal-300: 170.6 76.9% 85.5%;
    --color-teal-400: 172.5 66% 77.7%;
    --color-teal-500: 173.4 80.4% 70.4%;
    --color-teal-600: 175.3 84.3% 60%;
    --color-teal-700: 175.9 77.4% 51.1%;
    --color-teal-800: 176.5 69.8% 43.7%;
    --color-teal-900: 176.9 65.3% 38.6%;
    --color-teal-950: 178.1 83.9% 27.7%;
    --color-cyan-50: 183.2 100% 98.4%;
    --color-cyan-100: 185.1 95.9% 95.6%;
    --color-cyan-200: 186.2 93.5% 91.7%;
    --color-cyan-300: 187.3 92.4% 86.5%;
    --color-cyan-400: 188.7 86.5% 78.9%;
    --color-cyan-500: 189.5 94.5% 71.5%;
    --color-cyan-600: 191.6 91.4% 60.9%;
    --color-cyan-700: 192.9 82.3% 52%;
    --color-cyan-800: 194.4 69.6% 45%;
    --color-cyan-900: 196.4 63.6% 39.8%;
    --color-cyan-950: 197 71.4% 30.2%;
    --color-sky-50: 204 100% 97.7%;
    --color-sky-100: 204 93.8% 95.1%;
    --color-sky-200: 200.6 94.4% 90.1%;
    --color-sky-300: 199.4 95.5% 82.8%;
    --color-sky-400: 198.4 93.2% 74.6%;
    --color-sky-500: 198.6 88.7% 68.5%;
    --color-sky-600: 200.4 98% 58.8%;
    --color-sky-700: 201.3 96.3% 50%;
    --color-sky-800: 201 90% 44.3%;
    --color-sky-900: 202 80.3% 39.1%;
    --color-sky-950: 204.7 80.4% 29.3%;
    --color-blue-50: 213.8 100% 97%;
    --color-blue-100: 214.3 94.6% 93.2%;
    --color-blue-200: 213.3 96.9% 88.2%;
    --color-blue-300: 211.7 96.4% 80.9%;
    --color-blue-400: 213.1 93.9% 70.7%;
    --color-blue-500: 217.2 91.2% 62.3%;
    --color-blue-600: 221.2 83.2% 54.6%;
    --color-blue-700: 224.3 76.3% 48.8%;
    --color-blue-800: 225.9 70.7% 42.4%;
    --color-blue-900: 224.4 64.3% 37.9%;
    --color-blue-950: 226.2 57.3% 28.2%;
    --color-indigo-50: 226.5 100% 96.2%;
    --color-indigo-100: 226.5 100% 93%;
    --color-indigo-200: 228 96.5% 87%;
    --color-indigo-300: 229.7 93.5% 78.5%;
    --color-indigo-400: 234.5 89.5% 67.3%;
    --color-indigo-500: 238.7 83.5% 58.5%;
    --color-indigo-600: 243.4 75.4% 51.1%;
    --color-indigo-700: 244.5 57.9% 45.7%;
    --color-indigo-800: 243.7 54.5% 39.8%;
    --color-indigo-900: 242.2 47.4% 35.9%;
    --color-indigo-950: 243.4 47.4% 25.7%;
    --color-violet-50: 250 100% 96.9%;
    --color-violet-100: 251.4 91.3% 94.3%;
    --color-violet-200: 250.5 95.2% 89.4%;
    --color-violet-300: 252.5 94.7% 81.1%;
    --color-violet-400: 255.1 91.7% 70.2%;
    --color-violet-500: 258.3 89.5% 60.6%;
    --color-violet-600: 262.1 83.3% 54.1%;
    --color-violet-700: 263.4 70% 49.1%;
    --color-violet-800: 263.4 69.3% 43.2%;
    --color-violet-900: 263.5 67.4% 38%;
    --color-violet-950: 264.8 63.8% 28.3%;
    --color-purple-50: 270 100% 97.7%;
    --color-purple-100: 268.7 100% 94.6%;
    --color-purple-200: 268.6 100% 90.2%;
    --color-purple-300: 269.2 97.4% 82.7%;
    --color-purple-400: 270 95.2% 71.4%;
    --color-purple-500: 270.7 91% 62.7%;
    --color-purple-600: 271.5 81.3% 55.8%;
    --color-purple-700: 272.1 71.7% 49.6%;
    --color-purple-800: 272.9 67.2% 43.8%;
    --color-purple-900: 273.6 65.6% 38.1%;
    --color-purple-950: 273.9 65.9% 29.1%;
    --color-fuchsia-50: 289.1 100% 97.7%;
    --color-fuchsia-100: 287 100% 95.2%;
    --color-fuchsia-200: 288.3 95.8% 90.3%;
    --color-fuchsia-300: 291.1 93.1% 83.3%;
    --color-fuchsia-400: 292 91.4% 74%;
    --color-fuchsia-500: 292.2 84.1% 66.7%;
    --color-fuchsia-600: 293.4 69.5% 59.1%;
    --color-fuchsia-700: 294.7 72.4% 51.8%;
    --color-fuchsia-800: 295.4 70.2% 45.2%;
    --color-fuchsia-900: 296.1 63.6% 40.1%;
    --color-fuchsia-950: 297 64.6% 29.3%;
    --color-pink-50: 327.3 73.3% 97.1%;
    --color-pink-100: 325.7 77.8% 94.8%;
    --color-pink-200: 325.9 84.6% 89.9%;
    --color-pink-300: 327.4 87.1% 82.3%;
    --color-pink-400: 328.6 85.5% 71.8%;
    --color-pink-500: 330.4 81.2% 65.6%;
    --color-pink-600: 333.3 71.4% 59.2%;
    --color-pink-700: 335.1 77.6% 52.5%;
    --color-pink-800: 335.8 74.4% 45.9%;
    --color-pink-900: 335.9 69% 40.8%;
    --color-pink-950: 336.2 65.4% 28.4%;
    --color-rose-50: 355.7 100% 96.9%;
    --color-rose-100: 355.6 100% 94.1%;
    --color-rose-200: 352.7 96.1% 89.2%;
    --color-rose-300: 352.6 95.7% 81%;
    --color-rose-400: 351.3 94.5% 71.2%;
    --color-rose-500: 350.1 94.3% 64.5%;
    --color-rose-600: 347.1 92.3% 58.6%;
    --color-rose-700: 345.3 82.7% 51.4%;
    --color-rose-800: 343.4 79.7% 45.5%;
    --color-rose-900: 341.5 75.5% 41%;
    --color-rose-950: 341.7 75.5% 27.1%;
    --color-slate-50: 210 40% 98.4%;
    --color-slate-100: 210 40% 96.8%;
    --color-slate-200: 214.3 31.8% 92.9%;
    --color-slate-300: 212.7 26.8% 86.9%;
    --color-slate-400: 215 20.2% 70.4%;
    --color-slate-500: 215.4 16.3% 55.4%;
    --color-slate-600: 215.3 19.3% 44.6%;
    --color-slate-700: 215.3 25% 37.2%;
    --color-slate-800: 217.2 32.6% 27.9%;
    --color-slate-900: 222.2 47.4% 20.8%;
    --color-slate-950: 229.7 84% 12.9%;
    --color-gray-50: 0 0% 98.5%;
    --color-gray-100: 240 4.8% 96.7%;
    --color-gray-200: 240 5.9% 92.8%;
    --color-gray-300: 216 12.2% 87.2%;
    --color-gray-400: 217.9 10.6% 70.7%;
    --color-gray-500: 220 8.9% 55.1%;
    --color-gray-600: 215 13.8% 44.6%;
    --color-gray-700: 217.2 19.1% 37.3%;
    --color-gray-800: 215.4 25.7% 27.8%;
    --color-gray-900: 220.9 39.3% 21%;
    --color-gray-950: 224 71.4% 13%;
    --color-zinc-50: 0 0% 98.5%;
    --color-zinc-100: 240 4.8% 96.7%;
    --color-zinc-200: 240 5.9% 92%;
    --color-zinc-300: 240 4.9% 87.1%;
    --color-zinc-400: 240 5% 70.5%;
    --color-zinc-500: 240 3.8% 55.2%;
    --color-zinc-600: 240 5.2% 44.2%;
    --color-zinc-700: 240 5.3% 37%;
    --color-zinc-800: 240 3.7% 27.4%;
    --color-zinc-900: 240 5.9% 21%;
    --color-zinc-950: 240 10% 14.1%;
    --color-neutral-50: 0 0% 98.5%;
    --color-neutral-100: 0 0% 97%;
    --color-neutral-200: 0 0% 92.2%;
    --color-neutral-300: 0 0% 87%;
    --color-neutral-400: 0 0% 70.8%;
    --color-neutral-500: 0 0% 55.6%;
    --color-neutral-600: 0 0% 43.9%;
    --color-neutral-700: 0 0% 37.1%;
    --color-neutral-800: 0 0% 26.9%;
    --color-neutral-900: 0 0% 20.5%;
    --color-neutral-950: 0 0% 14.5%;
    --color-stone-50: 60 9.1% 98.5%;
    --color-stone-100: 60 4.8% 97%;
    --color-stone-200: 20 5.9% 92.3%;
    --color-stone-300: 24 5.7% 86.9%;
    --color-stone-400: 24 5.4% 70.9%;
    --color-stone-500: 25 5.3% 55.3%;
    --color-stone-600: 33.3 5.5% 44.4%;
    --color-stone-700: 30 6.3% 37.4%;
    --color-stone-800: 12 6.5% 26.8%;
    --color-stone-900: 24 5.7% 21.6%;
    --color-stone-950: 20 14.3% 14.7%;
    --color-black: #000;
    --color-white: #fff;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
